@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

:root {
/*	primary*/
/* 	
	--orange-yellow: 39, 100%, 56%;
	--green-teal: 166, 100%, 37%;
	--cobalt-blue: 234, 85%, 45%; */
/*	gradients*/
	--light-slate-blue: hsl(252, 100%, 67%);
	--light-royal-blue: hsl(241, 81%, 54%);
	--violet-blue: hsla(256, 72%, 46%, 1);
	--persian-blue: hsla(241, 72%, 46%, 0);
/*	neutral*/
	--white: hsl(0, 0%, 100%);
	--pale-blue: hsl(221, 100%, 96%);
	--light-lavender: hsl(241, 100%, 89%);
	--dark-gray-blue: hsl(224, 30%, 27%);
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 18px;
	font-weight: 500;
	font-family: 'Hanken Grotesk', sans-serif;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
}

.wrapper {
	width: 375px;
	background: var(--white);
}

.box_1{
	background-image: linear-gradient(to bottom, var(--light-slate-blue) 20%,var(--light-royal-blue) 100%);
	text-align: center;
	color: var(--light-lavender);
	padding: 1.5rem;
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;
}

.title {
	font-size: 1.2rem;
	font-weight: 700;
}

.circle {
	border-radius: 50%;
	background-image: linear-gradient(to bottom, var(--violet-blue), var(--persian-blue));
	margin-block: 1.5rem;
	width: 140px;
	height: 140px;
	padding: 10px;
	margin-inline: auto;
}

.circle p {
	color: var(--light-slate-blue);
}

.message, .grade {
	color: var(--pale-blue);
}

.grade {
	font-size: 3.5rem;
	font-weight: 800;
}

.message {
	font-size: 1.5rem;
	font-weight: 700;
	margin-bottom: 10px;
}

.box_2 {
	padding: 1.5rem;
}

#data {
	margin: 1.5rem 0;
}

.test {
	display: flex;
	justify-content: space-between;
	border-radius: 10px;
	padding: 1rem;
	background-color: hsla(var(--color), 10%);
	font-weight: 800;
	margin-bottom: 1rem;
}

.test .category {
	display: flex;
	align-items: center;
}

.test .category .category_name {
	margin-left: 10px;
	display: inline-block;
	color: hsl(var(--color));
}

.test .score {
	color: var(--light-lavender);
}

.test .percentage {
	color: black;
}

button {
	width: 100%;
	background-color: var(--dark-gray-blue);
	color: var(--white);
	border-radius: 50px;
	padding: 1rem 0;
	text-align: center;
	border: none;
	outline: none;
	cursor: pointer;
	font-weight: 700;
}

button:hover {
	background-color: var(--light-royal-blue);
}

@media screen and (min-width: 1025px) {
	.wrapper {
		display: flex;
		width: 60%;
		flex-basis: 50%;
		border-top-right-radius: 30px;
		border-bottom-right-radius: 30px;
		box-shadow: 12px 19px 41px -6px rgba(0,0,0,0.28);
	}

	.box_1 {
		border-radius: 30px;
		width: 100%;
	}

	.circle {
		width: 200px;
		height: 200px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.circle .grade {
		font-size: 4rem;
	}

	.circle .message {
		font-size: 2rem;
	}

	.title{
		font-size: 1.4rem;
	}

	.description {
		width: 90%;
		margin: auto;
	}

	.box_2 {
		width: 100%;
	}
	
}